﻿<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    
    <script src="~/Scripts/angular.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/Scripts/app.js"></script>
</head>
<body ng-controller="defaultCtrl">

    @RenderBody()
    
</body>
</html>