﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <h3 class="panel-heading text-center"> Word To HTML </h3>

    @Html.Partial("Loading")
    @Html.Partial("Table")

</div>
