﻿
<div ng-show="currentView == 'loading'" class="panel-body">
    <input type="file" name="upload" id="uploadFile" /><br />
    <button class="btn btn-primary" type="submit" ng-click="download()">Загрузить</button>
    <button class="btn btn-primary" type="submit" ng-click="display()">Отобразить</button>
</div>

