﻿<!--Представление для отображения всех данных-->
<div class="panel-body" ng-show="currentView == 'table'">
   
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Название тега</th>
                <th class="text-center"> Содержимое тега</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Name}}</td>
                <td>{{item.Value}}</td>           
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="newDownload()">Загрузить новый документ</button>
    </div>
   <p>

   </p>
    <div >
        <textarea ng-model="htmlcode"></textarea>
        <button class="btn btn-primary" ng-click="clear()">Очистить</button>
        <p>

        </p>
        <p ng-bind-html="htmlcode"></p>
    </div>

</div>
